.chess-board { border-spacing: 0; border-collapse: collapse; }
.chess-board th { padding: .5em; width:75px; height:75px; }
.chess-board th + th { border-bottom: 5px solid #553822; }
.chess-board th:first-child,
.chess-board td:last-child { border-right: 5px solid #553822; }
.chess-board tr:last-child td { border-bottom: 5px solid #553822; }
.chess-board th:empty { border: none; }
.chess-board td { width: 1.5em; height: 1.5em; text-align: center; font-size: 60px; line-height: 0;}
.chess-board .light { background: #d0ad87; }
.chess-board .dark { background: #553822; }
.piece { --size: 75%; width: var(--size); height: var(--size); padding: calc((100% - var(--size)) / 2);}